.mastermind {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  .data {
    display: flex;
    gap: 50px;

    .input {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .block {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .answer,
        .guess {
          display: flex;
          gap: 10px;
        }
      }
    }

    .output {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      gap: 10px;

      .pins {
        display: flex;
        gap: 10px;
      }
    }
  }

  .button-group {
    display: flex;
    gap: 10px;

    button {
      background-color: black;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s;
      color: white;

      &:hover {
        transition: all 0.3s;
        background-color: #1d1d1d;
      }

      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}

@media only screen and (max-width: 959.98px) {
  .mastermind {
    .data {
      flex-direction: column;

      .input,
      .output {
        align-self: center;
      }
    }

    .button-group {
      flex-direction: column;
    }
  }
}

@media only screen and (max-height: 800px) {
  .mastermind {
    justify-content: unset;
  }
}
